@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p&display=swap');
@import 'tailwindcss';

html {
    scroll-behavior: smooth;
}

/* @custom-variant dark (&:where(.dark, .dark *)); */

@theme {
    --breakpoint-xs: 450px;
    --breakpoint-2xs: 365px;

    --font-primary: "M PLUS 1p", "monospace";

    /* ベースカラー */
    --color-base-light: var(--color-neutral-100);
    --color-base-dark: var(--color-neutral-800);
    --color-base: light-dark(var(--color-base-light), var(--color-base-dark));
    /* ラベル(テキストなど)カラー(ベースカラーを逆転) */
    --color-label-light: var(--color-base-dark);
    --color-label-dark: var(--color-base-light);
    --color-label: light-dark(var(--color-label-light), var(--color-label-dark));

    --color-information: var(--color-sky-400);
    --color-success: light-dark(var(--color-green-400), var(--color-green-500));
    --color-danger: light-dark(var(--color-red-600), var(--color-red-800));
    --color-warning: var(--color-yellow-300);
    --color-disabled: light-dark(var(--color-neutral-300), var(--color-neutral-500));

    --color-turn-on: var(--color-sky-400);
    --color-turn-off: var(--color-neutral-500);

    --spacing-safe-top: env(safe-area-inset-top);
    --spacing-safe-bottom: env(safe-area-inset-bottom);
    --spacing-safe-left: env(safe-area-inset-left);
    --spacing-safe-light: env(safe-area-inset-right);

    --spacing-safe-x: env(safe-area-inset-left);
    --spacing-safe-y: env(safe-area-inset-bottom);
}

@layer base {
    input[type="range"] {
        @apply relative appearance-none transition-all duration-300 my-0.5 h-6 cursor-pointer rounded-full inset-shadow-black inset-shadow-sm/50 bg-label/5 shadow-black hover:shadow-md/100 active:shadow-md/100;
    }
    input[type="range"]::-webkit-slider-runnable-track {
        @apply relative appearance-none transition-all duration-300 my-0.5 h-6 cursor-pointer rounded-full inset-shadow-black inset-shadow-sm/50 bg-label/5 shadow-black hover:shadow-md/100 active:shadow-md/100;
    }
    input[type="range"]::-moz-range-track {
        @apply relative appearance-none transition-all duration-300 my-0.5 h-6 cursor-pointer rounded-full inset-shadow-black inset-shadow-sm/50 bg-label/5 shadow-black hover:shadow-md/100 active:shadow-md/100;
    }

    input[type="range"]::-webkit-slider-thumb {
        @apply appearance-none rounded-md w-9 h-7 -mt-0.5 bg-base-light shadow-black shadow-md/100;
    }
    input[type="range"]::-moz-range-thumb {
        @apply appearance-none rounded-md w-9 h-7 -mt-0.5 bg-base-light shadow-black shadow-md/100;
    }

    input[type="number"] {
        -moz-appearance: textfield;
        appearance: textfield;
        @apply appearance-none rounded-sm p-1 shadow-black shadow-sm/100 text-right
    }
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="radio"] {
        @apply sr-only;
    }

    label:has(input[type="radio"]) {
        @apply cursor-pointer p-1 rounded-md transition-all duration-150 shadow-black shadow-md/50 hover:shadow-md/25 active:shadow-sm/10 bg-base hover:bg-turn-on/10 active:bg-turn-on/30;
    }

    label:has(input[type="radio"]:checked) {
        @apply bg-turn-on/30;
    }

    img {
        pointer-events: none;
    }
}

@layer components {
    .flex-center {
        @apply flex justify-center items-center;
    }

    .flex-col-center {
        @apply flex flex-col justify-center items-center;
    }

    .button-general {
        @apply transition-all duration-300 rounded-sm shadow-black shadow-md/100 hover:shadow-md/50 active:shadow-sm/5 cursor-pointer disabled:cursor-not-allowed disabled:bg-disabled disabled:shadow-sm/10;
    }

    .button-bg-turn-on {
        @apply bg-turn-on/30 hover:bg-turn-on/50 active:bg-turn-on/70;
    }
    .button-bg-danger {
        @apply bg-danger/60 hover:bg-danger/50 active:bg-danger/30;
    }
}

